table {
    font-size: 14px;
    border-collapse: collapse;
}

td {
    text-align: center;
    padding: 5px;
    border-bottom: 1px solid #CACBCD;

}

table tr:nth-child(2n) {
    background-color: #DDEBF8;
}

table td:nth-child(2n+3) {
    background-color: #F2F2DD;
}