nav {
    background-color: #A64DFF;
    width: 1032px;
    box-shadow: 0 0 3px lightblue;
}

nav > ul {
    list-style-type: none;
    margin: 0 0 0 25px;
}

nav li {
    display: inline;
}

.menu li a {
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    color: white;
    padding: 9px 12px;
    text-transform: uppercase;
    font-family: fantasy;
}

.menu li a:hover {
    background-color: gainsboro;
    color: darkgray;
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    padding: 9px 12px;
    text-transform: uppercase;
    font-family: fantasy;
}