form {
    font: 19px Tahoma;
}

input {
    display: none;
}

input#red:checked ~ label[for="red"],
input#green:checked ~ label[for="green"],
input#blue:checked ~ label[for="blue"]
{opacity:0.5;}

label{
    display: block;
    float: left;
    margin-right: 25px;
    text-decoration: underline;
}

label[for="red"],
label[for="green"],
label[for="blue"]

{font-size: 15px;
    padding: 10px;
}
label[for="red"]
    {color: red;}

label[for="green"]
    {color: green;}

label[for="blue"]
    {color: blue;}

span{
    display: inline-block;
    line-height: 10px;
    height: 12px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    margin: 3px;
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 8px;
    padding-bottom: 8px;
}

span.red {background-color: red}
span.green {background-color: green}
span.blue {background-color: blue}

#red:checked ~ .red,
#green:checked ~ .green,
#blue:checked ~ .blue
    {display: none;}