body {
    padding: 0;
    margin: 60px;
    box-sizing: border-box;
}

.header {
    max-width: 100%;
    height: 100px;
    background-image: url("logo.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 228px 15px;
    background-size: 329px 39px;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

.menu ul {
    box-sizing: border-box;
    float: right;
    margin: 0;
    padding: 40px 235px 0 0;
    list-style-type: none;
    height: 100px;
}

ul > li {
    display: inline-block;
    padding: 0 14px 20px 8px;
}

ul > li > a:link {
    box-sizing: border-box;
    color: #7f328b;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    text-decoration: none;
    cursor: default;
    padding: 0 4px 25px 2px;
}

ul > li > a:focus, ul > li > a:active {
    color: #FF0000;
    outline: none;
    border-bottom: 4px solid #3070A8;
}

li > a:hover {
    border-bottom: 4px solid #3070A8;
}

.content {
    max-width: 100%;
    height: 700px;
    background-color: #888c94;
    background-image: url("title-back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: scroll;
    background-origin: border-box;
}

.first-par {
    color: #fff;
    padding-top: 174px;
    margin: auto;
    font-size: 48px;
    text-align: center;
    width: 66%;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

span {
    font-size: 55px;
    text-transform: uppercase;
}

.second-par {
    color: #fff;
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-size: 26px;
    width: 55%;
    padding: 20px 0;
    margin: auto;
    text-align: center;
}

.content a {
    font: 19px "Open Sans", sans-serif;
    width: 295px;
    box-sizing: border-box;
    display: block;
    padding: 19px 55px 19px 57px;
    color: #fff;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    margin: 33px auto;
}