body {
    margin: 0;
    padding: 0;
}

div {
    width: 288px;
    height: 460px;
    margin-top: 60px;
    margin-left: 120px;
    border-radius: 5px;
    box-shadow: 0 0 20px none;
    border: 4px solid #EE8129;

}

h1 {
    background: #EE8129;
    text-align: center;
    font-size: 25px;
    padding: 22px 0;
    color: white;
    margin: 0;
    text-transform: uppercase;
}
.p1 {
    text-align: center;
    font-family: Tahoma;
    font-size: 25px;
    margin: 0;
    line-height: 70px;
    text-transform: uppercase;
}
.p2 {
    line-height: 25px;
    font-size: 72px;
    font-family: Helvetica, sans-serif;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

.price:before {
    content: "\0024\00A0";
    vertical-align: 2.5em;
    font-size: 19px;
    font-weight: bold;
}

.price:after {
    content: "Monthly";
    vertical-align: -0.7em;
    font-size:16px;
}

ul {
    position: relative;
    margin: 0px;
    text-transform: uppercase;
    font-weight: bold;
    list-style-image:url("arrow.png");
    list-style-position: inside;
}

li {
    padding: 7px 32px 8px;
    margin-bottom: 1px;
    margin-right: 15px;
    margin-left: -19px;
    line-height: 10px;
    font: 10px Tahoma, sans-serif;
}
li:nth-child(odd) {
    background: lightcyan ;
}

li:nth-child(even) {
    background: #f5f5f6;
}

.list {  width: 288px;
    height: 140px;
    margin: 0;
    margin-top: 23px;
    padding: 0;
    border: 0;
    display:block;
}

a {
    display: inline-block;
    background: #EE8129;
    box-shadow: 0 2px 0 1px black;
    width: 75%;
    height: 25px;
    position: relative;
    left: 25px;
    border-radius: 7px;
    color: white;
    padding: 8px 10px;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}