table {
    width: 600px;
    border-top: 1px solid gray;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid gray;
    }
th, tr, td {
    border-top: 1px solid black;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid black;
    }
h1 {
    text-align: right;
    color: orange;
    }
em{
    background-color: green;
    color: white;
    }
p:first-letter {
    font-size: 30px;
    color: red;
    font-weight: bold;
    }
.vegetables {
    color: red;
    font-weight: normal;
    }
.stockFruits {
    color: green;
    font-weight: normal;

    }
.gardenFruits {
    color:gray;
    font-weight: normal;

    }
div ul {
    font-weight: bold;
    }
.garden > h2 {
    color: orange;
    }
.stock > h2 {
    color: blue;
    }
.name {
    color: orange;
    }
.name~td {
    background-color: green;
    color: white;
    text-align: center;
    }