span {
    display: inline-block;
    text-decoration: none;
    transform: scale(-1, 1);
    margin-left: 08px;
    }
a {font-size: 20px;}
a[href$="tut.by"] {color: blue;}
a[href^="https"] {color: #f70;}
a[href*="google"] {color:#666;}