.wrapper {
    padding-bottom: 100px; /*Чтобы он не наезжал на контент при узком окне браузера*/
    margin: 0;
    justify-content: space-between;
}

.basement {
    padding-top: 20px;
    background: darkkhaki;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
}

.line {
    background: darkkhaki;
    width: 70%;
    color: #551A86;
}

.social {
    background: darkkhaki;
    text-align: center;
    border-left: 1px solid black;
    padding-left: 15px;
    width: 15%;
    color: #551A86;
}

.contacts {
    background: darkkhaki;
    text-align: center;
    border-left: 1px solid black;
    padding-left: 15px;
    width: 8%;
    color: #551A86;
}
