.img-background {
    background-image: url("Золотое-поле-4.jpg");
    background-size: cover;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 400em;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed
}