@import url(./../../project/style.css);

.button-options__zenter {
    background: #fff no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 30px;
    transform: translate(-50%, -50%);
}

.btn {
    letter-spacing: 0.3em;
    color: #341b14;
    border: 1px solid #341b14;
    text-transform: uppercase;
    text-decoration: none;
    width: 12em;
    height: 4em;
    font-weight: bolder;
    display: inline-block;
    position: relative;
    line-height: 4em;
    text-align: center;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1s;
}

.btn:after {
    content: '';
    background: #FFC107;
    opacity: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: -100%;
    transition: 0.7s ease-in-out 0.3s ;
    z-index: -1;
}

.btn:hover:after {
    left: 0;
}

.btn:hover {
    color: #f4f3f7;
    font-weight: bolder;
    transition: 1.3s;
}

.btn:active{
    border:1px solid #341b14;;
    outline:none;
}

.btn:focus {
    border: none;
    outline: none;
}