body {
    margin: 0;
    background: whitesmoke no-repeat;
    position: absolute;
}

.wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.nav {
    position: relative;
    top: 0.2em;
    left: 70em;
}

li {
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    font-family: "Arial Unicode MS";
    font-style: italic;
}

a {
    text-decoration-line: none;
    padding: 10px;
    margin: 10px;
    border: 0 solid white;
    width: auto;
    font-weight: bolder;
    color: #5e2791;
    font-size: 16px;
}

li > a:hover {
    border-bottom: 1em solid blue;
    border-radius: 30px;
    cursor: default;
    font-weight: bolder;
}

li > a:active, :focus {
    color: saddlebrown;
    font-size: 16px;
    border-bottom: 1em solid saddlebrown;
    font-weight: bolder;
}

.nav {
    display: inline-block;
}
