/*
sizes 296x468
orange colors ee8129
dark orange shadow b3560b
lightblue edf5fd
lightgray f5f5f6
25 font color 35495a
iconic font color 3f4042
list font color 888c94
*/
body {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/*Common styles for pricing block*/
.pricing-block {
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 6px 3px #ddd;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.lowest {
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 6px 3px #ddd;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.the {
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 6px 3px #ddd;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    cursor: default;
}

.title {
    font-size: 23px;
    font-weight: 600;
    padding: 20px 0;
    margin: 0;
}

.content {
    font-size: 23px;
    font-weight: 600;
    color: #3f4042;
    padding: 23px 0 15px;
    margin: 0;
}

.value {
    font-size: 89px;
    font-weight: 600;
    line-height: 65px;
    color: #35495a;
    text-transform: none;
    margin: 0 auto;
    width: 100%;
}

.value sup {
    font-size: 0px;
    font-weight: 600;
    position: relative;
    top: -8px;
    left: -3px;
}

.value sub {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    top: -8px;
}

.features {
    list-style-type: none;
    color: #888c94;
    margin: 0 auto 27px;
    padding: 0;
    width: 90%;
    font-size: 15px;
    text-align: left;
    text-transform: none;
}

.features > li {
    background: url("arrow.png") no-repeat;
    background-position: 32px 11px;
    padding: 7px 8px 8px 62px;
    border-bottom: 1px solid white;
}

.features > li:nth-child(odd) {
    background-color: #edf5fd;
}

.features > li:nth-child(even) {
    background-color: #f5f5f6;
}

.cta-btn {
    padding: 11px 0;
    margin: 3px auto 30px;
    width: 85%;
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
    border-radius: 7px;
    display: block;
}

/*Specific styles for BEST VALUE block*/

.best-value {
    margin: 44px auto;
    width: 327px;
    border: 4px solid #ee8129;
    position: absolute;
}

.best-value .title {
    color: white;
    background: #ee8129;
    padding: 25px 0;
}

.best-value .cta-btn {
    color: white;
    background: #ee8129;
    box-shadow: #b3560b 0 3px 0 0;
    margin: 3px auto 40px;
    border-radius: 7px;
}

.standard {
    margin: 50px auto;
    width: 326px;
    border: 2px solid snow;
    box-shadow: none;
    position: absolute;
}

.standard .title {
    color: white;
    background: cornflowerblue;
}

.standard .cta-btn {
    color: white;
    background: #2F70A8;
    box-shadow: #12426B 0 3px 0 0;
}

.the {
    margin: 50px auto;
    width: 326px;
    border: 2px solid snow;
    box-shadow: none;
    position: absolute;
}

.the .title {
    color: white;
    background: #00B89A;
}

.the .cta-btn {
    color: white;
    background: #2F70A8;
    box-shadow: #12426B 0 3px 0 0;
}

.best-value {
    top: 30px;
    left: 600px;
    position: absolute;
    z-index: 1;
}

.lowest {
    top: 35px;
    left: 281px;
    position: absolute;
}

.the {
    top: 35px;
    left: 923px;
    position: absolute;
}

